{% extends 'layouts/default.html' %}

{% load static %}

{% load helpers %}

{% block title %} {% endblock %}

{% block content %}
<main class="bg-light">
    <section class="container container-sm container-md container-lg container-xl container-xxl mt-5 mb-5">
        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-sm-4 mt-5 pt-5 mb-5 pb-5">
                <form id="recoverpassword" autocomplete="on" class="card shadow rounded-4 p-3 border-0 py-4">
                    <div class="card-header border-0 bg-white text-center">
                        <h1 class="m-0 font-30 fw-bold mb-2">Password recovery.</h1>
                        <p class="m-0 text-muted font-14">
                            Create a new password for your account
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-2">
                            <input type="password"
                                class="form-control shadow-none bg-light border-0 py-3 px-4 rounded-pill" id="password"
                                placeholder="Create password...">
                        </div>
                        <div class="form-group">
                            <input type="password"
                                class="form-control shadow-none bg-light border-0 py-3 px-4 rounded-pill" id="password1"
                                placeholder="Confirm password...">
                        </div>
                        <input type="hidden" id="tok" value="{{ token }}">
                        <input type="hidden" id="uid" value="{{ uid }}">
                    </div>
                    <div class="card-footer border-0 bg-white">
                        <button type="submit" class="btn btn-block btn-dark rounded-pill py-3 w-100 fw-bold"
                            id="btnsubmit">
                            Change
                        </button>
                        <div class="text-center mt-3">
                            <a href="{% url 'login' %}" class="link-dark fw-bold">
                                Login instead?
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}


{% block scripts %}
<script src="{% static 'modules/account/password-recovery/index.js' %}"></script>
{% endblock %}