{% extends 'layouts/default.html' %}

{% load static %}

{% block title %} {% endblock %}

{% block content %}
<main class="bg-light">
    <section class="container container-sm container-md container-lg container-xl container-xxl mt-5 mb-5">
        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-sm-5 mt-5 pt-5 mb-5 pb-5">
                <form id="signup" autocomplete="on" class="card shadow rounded-4 p-3 border-0 py-4">
                    <div class="card-header border-0 bg-white text-center">
                        <h1 class="m-0 fw-bold font-30 mb-2">Create an account.</h1>
                        <p class="m-0 text-muted font-14">
                            Already a member?
                            <a href="{% url 'login' %}" class="link-dark fw-bold">Login</a>
                        </p>
                    </div>
                    <div class="card-body container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group mb-2">
                                    <input type="text"
                                        class="form-control shadow-none bg-light border-0 py-3 px-4 rounded-pill"
                                        id="firstname" placeholder="Firstname">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-2">
                                    <input type="text"
                                        class="form-control shadow-none bg-light border-0 py-3 px-4 rounded-pill"
                                        id="lastname" placeholder="Lastname">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-2">
                                    <input type="text"
                                        class="form-control shadow-none bg-light border-0 py-3 px-4 rounded-pill"
                                        id="username" placeholder="Username">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-2">
                                    <input type="text"
                                        class="form-control shadow-none bg-light border-0 py-3 px-4 rounded-pill"
                                        id="email" placeholder="Email address...">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="password"
                                        class="form-control shadow-none bg-light border-0 py-3 px-4 rounded-pill"
                                        id="password1" placeholder="Create password">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="password"
                                        class="form-control shadow-none bg-light border-0 py-3 px-4 rounded-pill"
                                        id="password2" placeholder="Confirm password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-0 bg-white">
                        <div class="form-check form-switch mb-3">
                            <input class="form-check-input" type="checkbox" id="agreement">
                            <label class="form-check-label" for="agreement">
                                I have read the
                                <a href="#" class="link-dark fw-bold">privacy policy</a> and
                                <a href="#" class="link-dark fw-bold">terms & Conditions</a>.
                            </label>
                        </div>
                        <button type="submit" class="btn btn-block btn-dark rounded-pill py-3 w-100 fw-bold"
                            id="btnsubmit">
                            Create account
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'modules/account/signup/index.js' %}"></script>
{% endblock %}